/* Styles pour la carte */
svg {
    width: 100%;
    height: 80vh;
  }
  
  /* Styles pour la boîte modale */
  .modal {
    display: block; /* La boîte modale est visible par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Conteneur pour les filtres de genre */
#genre-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  
  
  /* Styles des cases à cocher */
  #genre-filters input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #ff0000; 
  }
  
  /* Styles des labels */
  #genre-filters label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Effet au survol des labels */
  #genre-filters label:hover {
    background-color: #e0f7fa;
    color: #00796b;
  }
  
  /* Style lorsque la case est cochée */
  #genre-filters input[type="checkbox"]:checked + label {
    background-color: #2196f3;
    color: white;
    font-weight: bold;
  }
  #tooltip-buttons button {
    margin: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
  }
  
  /* Styles pour les pie charts */
  .country-chart {
    position: absolute;
    text-align: center;
  }
  
  .country-label {
    font-weight: bold;
    font-size: 10px;
  }
  
  


  
  .tooltip-close {
    cursor: pointer;
    font-weight: bold;
    color: red;
  }
  
  .tooltip {
    position: fixed;
    top: 10%;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

#tooltip-country-name {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

#tooltip-chart-container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centre horizontalement le conteneur */
  margin-top: 10px; /* Ajustement pour éviter le chevauchement */
}


#tooltip-chart {
    width: 100%;
    height: 100%;
}

#tooltip-buttons button {
  display: block;
  width: 100%; /* Prend toute la largeur du conteneur */
  margin: 5px 0; /* Espace entre les boutons */
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

